# Ignore .rar, .zip, and .7z files
*.rar
*.zip
*.7z
_old
.smithbox

# Ignore .bin and .bin.prev files
*.bin
*.bin.prev
tests/*
Releases
extracted

# Ignore all files and subdirectories inside the 'tests' folder
tests
